body {
    margin: 0;
    padding: 0;
}

header {
    background: rgba(67, 181, 48, 0.6);
    height: 120px;
    width: 100%;
}

footer {
    background: rgba(67, 181, 48, 0.6);
    height: 80px;
    width: 100%;
}

.contenedor {
    background: #ffffff url("/inicio.jpg") no-repeat center center;
    display: flex;
    flex-direction: column;
    height: 100vh;
    justify-content: space-between;
    margin: auto;
    max-width: 1920px;
    width: 100%;
}

.titulo-uno {
    color: #ffffff;
    font: 2.6rem "Segoe Print", sans-serif;
    margin: 232px 32px;
    position: absolute;
}

.titulo-dos {
    color: #ffffff;
    font: 1.6rem "Segoe Print", sans-serif;
    margin: 700px 0 0 910px;
    position: absolute;
    width: 340px;
}
