h4 {
    font-weight: bold;
}

.container {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
   
}

.col-sm-10, .col-md-8, .col-lg-4 {
     background-color: #effcef; 
}

.col-md-8, .col-lg-4{
    padding: 2rem 4rem;
    margin-top: 2rem;
} 

@media (min-width: 576px) {
    .container {
        max-width: 540px;
    }
}

@media (min-width: 768px) {
    .container {
        max-width: 720px;
    }
}

@media (min-width: 992px) {
    .container {
        max-width: 960px;
    }
}

@media (min-width: 1200px) {
    .container {
        max-width: 1920px;
    }
}

.form-group label {
    font-size: 0.9rem;
    font-weight: bold;
}

.form-group input[type=text],
            input[type=email],
            input[type=password] {
    height: 1.5rem;
    margin-bottom: 0.1rem;
}

.form-group select{
    height: 1.5rem;
    padding: 0.1rem;
}
.form-group small{
    font-size: 0.7rem;
}

.error {
    font-size: 0.9rem;
    color: #920D0D;
}
.navbar .container {
    padding: 0;
}
