h1, h2, h3,
h4, h5, h6
{
    font-weight: bold;
    
}
/*CUERPO*/

body {
    height: 100%;   
    margin: 0;
    padding: 0;
    background: #000 url("/overlay.png") repeat;
}

#vista{
    min-height:100vh;
    padding-bottom: 3rem;
    background:#fff;
}
#anuncios 
{
text-align: center;
font-family: "Segoe Print", sans-serif;
font-size: 1.6em;
}

.carousel-inner > .carousel-item > img { height: 450px; width: 100% }

@media (min-width: 576px) {
    .container {
        max-width: 540px;
    }
}

@media (min-width: 768px) {
    .container {
        max-width: 720px;
    }
}

@media (min-width: 992px) {
    .container {
        max-width: 960px;
    }
}

@media (min-width: 1200px) {
    .container {
        max-width: 1200px;
    }
}

/* FORMULARIOS */
.form-group label {
    font-size: 0.9rem;
    font-weight: bold;
}

.form-group input[type="text"],
            input[type="email"],
            input[type="password"] {
    height: 1.5rem;
    margin-bottom: 0.1rem;
}

.form-group select{
    height: 1.5rem;
    padding: 0.1rem;
}
.form-group small{
    font-size: 0.7rem;
}


.error {
    font-size: 0.9rem;
    color: #920D0D;
}
.succes{
    font-size: 0.9rem;
    color: #0DC151;
}

.btn-sm
{
  line-height: 1rem;
}

/*NAVEGACIÓN*/
 nav {
    background-color: #2b8f03;
    border-bottom: 1px solid #000;
}
.navbar-toggler {
    background:green;
}

.navbar .container 
{
    padding: 0;
}

nav a:link {
    color: #fff;
    font-size: 1rem;
    text-decoration: none;
}

nav a:visited{
    color: #fff;
}

nav a:hover{
    color: #fff;
    text-decoration: underline;
}

nav a:active{

}
/*FOOTER*/


/* RESUMENES ANUNCIOS*/

#resumen:hover
{
 box-shadow: 3px 3px 2px #E5DEDE;
}
#resumen a:link 
{
    color: #000;
    text-decoration: none;
}

#resumen a:visited
{
    color: #000;
    text-decoration: none;
}

#resumen a:hover 
{
    color: #000;
    text-decoration: none;
}

#resumen a:active 
{
    color: #000;
    text-decoration: none;
}

footer {
    position: fixed;
    bottom: 0rem;
    background: #2b8f03;
    height: 2.5rem;
    width: 100%;
}

footer a {
    color: #fff;
    font-size: 0.8rem;
    text-decoration: none;
    padding-left: 4rem;
}

footer a:visited{
    color: #fff;
}